<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/jquery-3.7.1.min.js"></script>

        <title>{{ title }}</title>

        <link rel="stylesheet" href="/css/style.css">

        {% block styles %}{% endblock %}
    </head>
    <body>
        <header>
             <img class="logo" src="/images/logo.svg" alt="Logo" height="50">
        </header>

        <main class="content">
            {% if flash and flash.message %}
                <div class="flash-message {{ flash.type }}">{{ flash.message }}</div>
            {% endif %}

            {% block content %}{% endblock %}
        </main>

        <footer>            

        </footer>

        <script src="/js/scripts.js"></script>

        {% block scripts %}{% endblock %}
        
    </body>
</html>
